[submodule "isbank-spyder"]
	path = isbank-spyder
	url = git@github.com:aziznal/isbank-spyder
[submodule "vakif-bank-spyder"]
	path = vakifbank-spyder
	url = git@github.com:aziznal/vakif-bank-spyder
[submodule "kuveytturk-spyder"]
	path = kuveytturk-spyder
	url = git@github.com:aziznal/kuveyt-turk-spyder
[submodule "ziraat-spyder"]
	path = ziraat-spyder
	url = git@github.com:aziznal/ziraat-spyder
[submodule "yapikredi-spyder"]
	path = yapikredi-spyder
	url = git@github.com:aziznal/yapikredi-spyder
